<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <properties resource="db.properties">-->
<!--        <property name="jdbc.dialect" value="org.apache.ibatis.mapping.MysqlDialect"/>-->
<!--    </properties>-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
<!--                连接信息Connection info-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="19920911Gqb!"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        加载sql映射文件 load sql mapper file-->
        <mapper resource="mapper/ContactMapper.xml"/>
<!--        <package name="mapper"/>-->
    </mappers>
</configuration>